@charset "utf-8";
* {
  box-sizing: border-box;
  outline: none;
}
html {
  font-family: 'Helvetica Neue', Helvetica, Hiragino Sans GB, 'Microsoft Yahei', STHeiTi, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  /* For some Androids */
  -webkit-font-smoothing: antialiased;
}
body {
  font-size: 12px;
  line-height: 1;
  overflow-x: hidden;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  color: #333;
  background-color: #f0f0f0;
  -webkit-overflow-scrolling: touch;
  -webkit-touch-callout: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
a {
  text-decoration: none;
  color: inherit;
}
a:active {
  outline: 0;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: normal;
}
img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}
input,
textarea,
button {
  font-family: 'Helvetica Neue', Helvetica, Hiragino Sans GB, 'Microsoft Yahei', STHeiTi, Arial, sans-serif;
  font-size: 0.1024rem;
  margin: 0;
  padding: 0;
  border: 0;
}
textarea {
  resize: none;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
form,
blockquote {
  margin: 0;
}
ul,
ol,
li,
dl,
dd {
  margin: 0;
  padding: 0;
}
ul,
ol,
li {
  list-style: none;
}
input {
  width: 100%;
  height: 0.29013333rem;
  padding: 0 0.08533333rem;
  text-align: left;
  border: 1px solid #ddd;
  border-radius: 0.03413333rem;
}
.placeholder {
  font-family: 'Helvetica Neue', Helvetica, Hiragino Sans GB, 'Microsoft Yahei', STHeiTi, Arial, sans-serif;
  text-align: left;
  color: #999;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  font-family: 'Helvetica Neue', Helvetica, Hiragino Sans GB, 'Microsoft Yahei', STHeiTi, Arial, sans-serif;
  text-align: left;
  color: #999;
}
input:-moz-placeholder :-moz-placeholder,
textarea:-moz-placeholder :-moz-placeholder {
  color: #ddd;
}
input:-moz-placeholder ::-webkit-input-placeholder,
textarea:-moz-placeholder ::-webkit-input-placeholder {
  color: #ddd;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  font-family: 'Helvetica Neue', Helvetica, Hiragino Sans GB, 'Microsoft Yahei', STHeiTi, Arial, sans-serif;
  text-align: left;
  color: #999;
}
input::-moz-placeholder :-moz-placeholder,
textarea::-moz-placeholder :-moz-placeholder {
  color: #ddd;
}
input::-moz-placeholder ::-webkit-input-placeholder,
textarea::-moz-placeholder ::-webkit-input-placeholder {
  color: #ddd;
}
input:-ms-input-placeholder,
textarea::-ms-input-placeholder {
  font-family: 'Helvetica Neue', Helvetica, Hiragino Sans GB, 'Microsoft Yahei', STHeiTi, Arial, sans-serif;
  text-align: left;
  color: #999;
}
input:-ms-input-placeholder :-moz-placeholder,
textarea::-ms-input-placeholder :-moz-placeholder {
  color: #ddd;
}
input:-ms-input-placeholder ::-webkit-input-placeholder,
textarea::-ms-input-placeholder ::-webkit-input-placeholder {
  color: #ddd;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-family: 'Helvetica Neue', Helvetica, Hiragino Sans GB, 'Microsoft Yahei', STHeiTi, Arial, sans-serif;
  text-align: left;
  color: #999;
}
input::-webkit-input-placeholder :-moz-placeholder,
textarea::-webkit-input-placeholder :-moz-placeholder {
  color: #ddd;
}
input::-webkit-input-placeholder ::-webkit-input-placeholder,
textarea::-webkit-input-placeholder ::-webkit-input-placeholder {
  color: #ddd;
}
/* base */
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
html,
body {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.wrap {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #f5f5f9;
  overflow: auto;
  overflow-x: hidden;
}
.packBlock {
  width: 100%;
  height: 100%;
  position: relative;
  left: 0;
  top: 0;
  background-size: 100% 100%;
}
.packBlock .clickBtn {
  position: absolute;
  width: 2.98666667rem;
  height: 0.448rem;
  top: 3.328rem;
  left: 50%;
  margin-left: -1.49333333rem;
}
.packBlock .money {
  position: absolute;
  font-size: 0.3rem;
  right: 4%;
  top: 1.28rem;
}
.packBlock .time {
  position: absolute;
  width: 2.13333333rem;
  height: 0.256rem;
  font-size: 0.155rem;
  right: 4%;
  top: 2.47466667rem;
  text-align: right;
  line-height: 0.256rem;
  color: #3e3e3e;
}
.packBlock .bottomTip {
  position: absolute;
  bottom: 0;
  padding: 0.128rem;
  line-height: 0.128rem;
  color: #8e8e8e;
}
.maskDiv {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
}
.packBlock2 {
  display: none;
  position: absolute;
  width: 2.56rem;
  height: 1.36533333rem;
  top: 50%;
  left: 50%;
  margin-left: -1.28rem;
  margin-top: -0.68266667rem;
  background-image: url('//yun.tuisnake.com/h5-mami/insurance/ttqw-invite/4.0/ttqw-withdraw-redmask2.png');
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 101;
}
.packBlock2 .leftBtn {
  width: 1.23733333rem;
  height: 0.42666667rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -1.23733333rem;
}
.packBlock2 .rightBtn {
  width: 1.23733333rem;
  height: 0.42666667rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-right: -1.23733333rem;
}
.block_3 {
  position: relative;
  z-index: 102;
}
.block_3 .mask {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000000;
}
.block_3 .isWX .img {
  position: absolute;
  top: 0.13653333rem;
  right: 0.13653333rem;
  width: 2.048rem;
  height: 2.23573333rem;
  background-image: url('//yun.tuisnake.com/h5-mami/insurance/ttqw-invite/tip.png');
  background-repeat: no-repeat;
  background-size: 100%;
}
.block_3 .isIOS .img {
  position: absolute;
  top: 50%;
  margin-top: -1.38666667rem;
  left: 50%;
  margin-left: -1.17333333rem;
  width: 2.34666667rem;
  height: 2.98666667rem;
  background-image: url('//yun.tuisnake.com/h5-mami/insurance/ttqw-invite/4.0/ios.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
